ul li {
    display:inline-block;
    background-color: #f66666;
    padding: 10px 20px;
    text-align: center;
}

ul li a {
    color: #e0f786;
}

ul li:hover {
    color: #f66666;
    background-color: #f5cf97
}
